{% extends 'base.html.twig' %}

{% block title %}My Shopping Cart{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{% endblock %}
{% block body %}
    {{ parent() }}
    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">
        <!-- Start breadcrumb area -->
        <div class="ht__breadcrumb__area bg-image--3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__inner text-center">
                            <h2 class="breadcrumb-title">Shopping Cart</h2>
                            <nav class="breadcrumb-content">
                                <a class="breadcrumb_item" href="{{ path('welcome') }}">Home</a>
                                <span class="brd-separator">/</span>
                                <span class="breadcrumb_item active">Shopping Cart</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End breadcrumb area -->
        <!-- cart-main-area start -->
        <div class="cart-main-area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ol-lg-12">
                        <form action="#">
                            <div class="section__title--3">
                                <h3><span>  Bought : </span> </h3> <br>
                            </div>
                            <div class="table-content wnro__table table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for element in data %}
                                        <tr>
                                            <td>{{ element.produit.name }}</td>
                                            <td class="text-end">{{ element.produit.price }} €</td>
                                            <td>{{ element.quantite }}</td>
                                            <td class="text-end">{{ element.quantite * element.produit.price }} €</td>
                                            <td>
                                                <a href="{{path("cart_add", {id: element.produit.id})}}" class="btn btn-outline-success">
                                                    <i class="bi bi-plus"></i>
                                                </a>
                                                <a href="{{path("cart_remove", {id: element.produit.id})}}" class="btn btn-outline-warning">
                                                    <i class="bi bi-dash"></i>
                                                </a>
                                                <a href="{{path("cart_delete", {id: element.produit.id})}}" class="btn btn-outline-danger">
                                                    <i class="bi bi-cart-x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5" class="text-center">Your cart is empty. Consider adding some items to it</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="3">Total</td>
                                        <td class="text-end">{{ total }} €</td>
                                        <td>
                                            <a href="{{path("cart_delete_all")}}" class="btn btn-danger">
                                                <i class="bi bi-cart-x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="section__title--3">
                                <h3><span>  Borrowed : </span> </h3> <br>
                            </div>
                            <div class="table-content wnro__table table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Started</th>
                                        <th>Returned</th>
                                        <th>Fee</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for element in data_borrow %}
                                        <tr>
                                            <td>{{ element.produit.name }}</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end">{{ element.produit.price }} €</td>
                                            <td>{{ element.quantite }}</td>
                                            <td class="text-end">{{ element.quantite * element.produit.price }} €</td>
                                            <td>
                                                <a href="{{path("for/borrow_add", {id: element.produit.id})}}" class="btn btn-outline-success">
                                                    <i class="bi bi-plus"></i>
                                                </a>
                                                <a href="{{path("for/borrow_remove", {id: element.produit.id})}}" class="btn btn-outline-warning">
                                                    <i class="bi bi-dash"></i>
                                                </a>
                                                <a href="{{path("for/borrow_delete", {id: element.produit.id})}}" class="btn btn-outline-danger">
                                                    <i class="bi bi-cart-x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5" class="text-center">Your cart is empty. Consider adding some items to it</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="3">Total</td>
                                        <td class="text-end">{{ totalborrow }} €</td>
                                        <td class="text-end" colspan="2"></td>
                                        <td>
                                            <a href="{{path("for/borrow_delete_all")}}" class="btn btn-danger">
                                                <i class="bi bi-cart-x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                        <div class="cartbox__btn">
                            <ul
                                    class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">

                                <li><a href="{{path("shopgrid")}}">Update Cart</a></li>
                                <li><a href="#">Check Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="cartbox__total__area">


                            <div class="cart__total__amount">
                                <span>Grand Total</span>
                                <span>{{ total + totalborrow  }} €</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart-main-area end -->
        <!-- Footer Area -->
        <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
            <div class="footer-static-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__widget footer__menu">
                                <div class="ft__logo">
                                    <a href="index.html">
                                        <img src="images/logo/3.png" alt="logo">
                                    </a>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered duskam alteration variations of passages</p>
                                </div>
                                <div class="footer__content">
                                    <ul class="social__net social__net--2 d-flex justify-content-center">
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-google"></i></a></li>
                                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                    </ul>
                                    <ul class="mainmenu d-flex justify-content-center">
                                        <li><a href="index.html">Trending</a></li>
                                        <li><a href="index.html">Best Seller</a></li>
                                        <li><a href="index.html">All produit</a></li>
                                        <li><a href="index.html">Wishlist</a></li>
                                        <li><a href="index.html">Blog</a></li>
                                        <li><a href="index.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright__wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright">
                                <div class="copy__right__inner text-left">
                                    <p>Copyright <i class="fa fa-copyright"></i> <a href="#">Boighor.</a> All Rights
                                        Reserved</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="payment text-right">
                                <img src="images/icons/payment.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- JS Files -->

    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>

{% endblock %}

