{% block StyleSheet %}
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"  rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href='{{ asset("CSS/styleLogin.css") }}' >
{% endblock %}



{% block body %}
    {% block Header %}
    {% endblock %}
    <section>
        <div class="container box">

            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:4;"></div>
            <div class="square" style="--i:5;"></div>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}



                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <div class="container">
                    <h6>   forgot password ? <a href="">click here</a> </h6>
                </div>
                <div class="container">
                    <h6>Dont have an account? <a href="{{ path('user') }}">Sign up</a></h6>
                </div>

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        </div>

        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
    </section>
{% endblock %}
{% block Scripts %}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
{% endblock %}
{% block Footer %}
{% endblock %}