{% block head %}
    <!doctype html>
<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home | Books Library eCommerce Store</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{asset("assets/css/plugins.css")  }}">
    <link rel="stylesheet" href="{{asset("style.css")  }}">
    <link rel="shortcut icon" href="{{asset('assets/images/favicon.ico')  }}">
    <link rel="apple-touch-icon" href="{{asset('assets/images/icon.png')  }}">
    <link rel="stylesheet" href="{{asset("assets/css/custom.css")  }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset("stylenew.css")  }}">
{% endblock %}
{% block Js %}
    <script src="{{asset("assets/js/vendor/modernizr-3.5.0.min.js") }}"></script>
{% endblock %}


{% block  headerclass %}
        <header id="wn__header" class="oth-page header__area header__absolute sticky__header">
{% endblock %}

{% block header %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                    <div class="logo">
                        <a href="{{ path('home') }}">
                            <img src="{{asset('assets/images/logo/3.png')}}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-block">
                    <nav class="mainmenu__nav">
                        <ul class="meninmenu d-flex justify-content-start">
                            <li><a href="{{ path("home") }}">Home</a></li>
                            <li><a href="{{ path('shopgrid') }}">Buy Books</a></li>
                            <li><a href="{{ path('shopgrid') }}">Borrow Books</a></li>
                            <li><a href="{{ path('cantactmail') }}">Cantact</a></li>
                        </ul>
                    </nav>
                </div>
            <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                <ul class="header__sidebar__right d-flex justify-content-end align-items-center">


                    <button type="button" class="btn btn-outline-secondary">
                        <a href="{{ path('shopgrid', {'number': '1', 'page': '2', 'sort': '1'}) }}">Catalogue</i></a>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <a href="{{ path('cart_index') }}" >Cart</a>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <a href="{{ path('app_login') }}">Sign In</a>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <a href="{{ path('logout') }}" >Logout</a>
                    </button>

                </ul>

                    <div class="row d-none">
                        <div class="col-lg-12 d-none">
                            <nav class="mobilemenu__nav">
                                <ul class="meninmenu">
                                    <li><a href="{{ path('home') }}">Home</a></li>
                                    <li><a href="{{ path('shopgrid') }}"> Borrow Books</a></li>
                                    <li><a href="{{ path('shopgrid') }}"> Borrow Books</a></li>
                                    <li><a href="{{ path('cantactmail') }}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
    </header>

{% endblock %}
{% block body %}
<body>
</body>
</html>
{% endblock %}
{% block javascriptt %}
    <script src="{{asset('assets/js/popper.min.js')  }}"></script>
    <script src="{{asset('assets/js/bootstrap.min.js')  }}"></script>
    <script src="{{asset('assets/js/vendor/jquery-3.2.1.min.js')  }}"></script>
    <script src="{{asset('assets/js/plugins.js')  }}"></script>
    <script src="{{asset('assets/js/active.js')  }}"></script>

{% endblock %}

{% block footer %}
    <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
        <div class="footer-static-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__widget footer__menu">
                            <div class="ft__logo">
                                <a href="{{ path('home') }}"><img src="{{asset('assets/images/logo/3.png')}}" alt="logo">
                                </a>
                                <p>Our site provides many benifits for the users</p>
                            </div>
                            <div class="footer__content">
                                <ul class="social__net social__net--2 d-flex justify-content-center">
                                    <li><a href=""><i class="bi bi-facebook"></i></a></li>
                                    <li><a href=""><i class="bi bi-twitter"></i></a></li>
                                    <li><a href=""><i class="bi bi-linkedin"></i></a></li>
                                    <li><a href=""><i class="bi bi-youtube"></i></a></li>
                                </ul>
                                <ul class="mainmenu d-flex justify-content-center">
                                    <li><a href="{{ path('shopgrid') }}">All Product</a></li>
                                    <li><a href="{{ path('home') }}">Home</a></li>
                                    <li><a href="{{ path('cantactmail') }}">Cantact</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </footer>

{% endblock %}
{% block flashbag %}
    {% for  message in  app.session.flashBag.get('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% for  message in  app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for  message in  app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
